@import 'tailwindcss';

:root {
  --background: #fff;
  --foreground: #000;
  --primary: #d946ef;
  --primary-hover: #c026d3;
  --selection: rgba(216, 70, 239, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    padding: 1rem;
    font-family: -apple-system, 'Helvetica Neue', Helvetica, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  }

  ::selection {
    background-color: var(--selection);
  }

  :focus-visible {
    outline: 2px solid var(--primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  a {
    color: var(--primary);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  button,
  input[type='submit'] {
    background-color: var(--primary);
    color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;

    transition: scale 0.2s;
  }

  button:hover,
  input[type='submit']:hover {
    background-color: var(--primary-hover);
  }

  button:active,
  input[type='submit']:active {
    scale: 0.95;
  }

  button:disabled,
  input[type='submit']:disabled {
    background-color: #64748b;
    color: #fff;
    /* cursor: not-allowed; */
    cursor: default;
    user-select: none;
  }

  input {
    color: var(--foreground);
    border: 1px solid var(--foreground);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  select {
    color: #000;
  }
}

@layer utilities {
  /* Fade animations */
  ::view-transition-old(.fade-out) {
    animation: fadeOut 300ms ease-in;
  }

  ::view-transition-new(.fade-in) {
    animation: fadeIn 300ms ease-out;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Slide animations */
  ::view-transition-new(.slide-up) {
    animation: slideUp 400ms ease-out;
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(300px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
